/* Widen wrapper */
.wrapper {
  max-width: 1000px;
  width: 90%;
}

/* Remove Home title from home page */
body.home h1.page-title {
  display: none;
}

/* Hide site title in footer only */
footer .site-title {
  display: none;
}
